@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.courseContainer{
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.courseImgContainer{
    display: flex;
    align-items: center; 
    justify-content: center;
}
.courseImgContainer img{
    height: 160px;
    margin-right: 20px;
}
.courseContainer div h1{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.courseContainer div p, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.courseContainer div button{
    border: none;
    background-color: gold;
}